// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/logos/wordmark';
@import '~@mozilla-protocol/core/protocol/css/components/logos/wordmark-product-pocket';

.pocket-header.platform {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background-color: #f9f9fa;
}

.platform-header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: $layout-2xs;

    .mzp-t-product-pocket {
        background-position: center; /* note: this will shortly be possible in Protocol with .mzp-l-wordmark-center-on-sm-md */
        margin-bottom: 0;
    }

    @media screen and #{$mq-md} {
        padding-right: $layout-lg;
        padding-left: $layout-lg;

        .mzp-t-product-pocket {
            @include bidi(((background-position, top left, top right),));
        }
    }
}

.header-navigation {
    line-height: 1;
    white-space: nowrap;
    display: none;

    &-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: none;

        &-list-item {
            display: inline-block;
            margin: 0;
            padding: 0;
        }
    }
    @media #{$mq-md} {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        flex-grow: 2;

        &-list {
            display: flex;
        }
    }
}

.header-navigation-list-item-link {
    @include text-body-sm;
    font-family: $font-sans;
    margin: $spacing-lg $spacing-xs;
    text-decoration: none;
    color: $color-text-primary;

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }

    &.log-in-cta {
        @include text-body-xs;
        background-color: $color-text-primary;
        border-radius: $border-radius-xs;
        border: 2px solid $color-text-primary;
        color: $color-white;
        font-weight: 500;
        padding: 3px $spacing-md;
        transition: all 100ms ease-in-out;

        @media #{$mq-md} {
            margin-left: 20px;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
            color: $color-text-primary;
            text-decoration: none;
        }
    }

    @media #{$mq-md} {
        padding: $spacing-lg $spacing-md;
    }
}
