// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

$image-path: '/media/protocol/img';

.platform-footer {
    background-color: $color-marketing-gray-10;
    font-family: $font-sans;

    .mzp-l-content {
        max-width: $content-sm;

        @media #{$mq-md} {
            max-width: $content-xl;
        }
    }

    &-copyright {
        @include text-body-sm;
        color: $color-text-primary;
        text-align: center;
    }
}

.footer-navigation {
    &-list {
        @include text-body-md;
        color: $color-text-primary;
        columns: 2;
        padding: 0;

        @media #{$mq-md} {
            columns: initial;
            text-align: center;
            padding-right: $layout-md;
            padding-left: $layout-md;
        }
    }

    &-list-item {
        @media #{$mq-md} {
            display: inline-block;
        }

        a {
            color: $color-text-primary;
            text-decoration: none;
            padding: $spacing-xs $spacing-sm;
            display: inline-block;

            &:hover,
            &:active,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}

.socials-list {
    padding: $spacing-sm;
    text-align: center;

    li + li {
        margin-left: $spacing-md;
    }

    &-item {
        display: inline-block;
    }
}

.svg-social {
    fill: currentColor;
    color: $color-text-primary;
    width: $layout-sm;
    height: $layout-sm;
    transition: color 100ms ease-in-out;

    &.twitter {
        &:hover,
        &:focus,
        &:active {
            color: $color-twitter-blue;
        }
    }

    &.facebook {
        &:hover,
        &:focus,
        &:active {
            color: $color-facebook-blue;
        }
    }
}
