// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/breadcrumb';
@import 'includes/lib';

:root {
    --sidebar-width: 0;
    --max-width: 1000px;
    --max-line-length: 60ch;
}

.c-article-wrapper {
    display: grid;
}

@media (min-width: 767px) {
    .c-article-wrapper {
        grid-template-columns: 1fr var(--sidebar-width) calc(var(--max-width) - var(--sidebar-width)) 1fr;
    }

    .c-stories-article-header {
        background-color: $pink-primary;
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: subgrid;

        &-wrapper {
            grid-column: 2 / 4;
        }
    }

    .c-stories-article-credits {
        grid-column: 2 / 3;
        grid-row-start: 2;
    }

    .c-stories-social-share,
    .c-stories-related {
        grid-column: 3 / 4;
    }

    .c-stories-article-content {
        grid-column: 1 / -1;
        grid-row-start: 2;
        display: grid;
        grid-template-columns: subgrid;

        & > *:not(.full-width) {
            grid-column: 3 / 4;
        }

        .full-width {
            background-color: $pink-primary;
            grid-column: 1 / -1;

            blockquote {
                max-width: var(--max-line-length);
                text-align: center;
            }
        }
    }
}
