{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends 'mozorg/about-base.html' %}

{% block page_title %}{{ ftl('about-learn-about-mozilla') }}{% endblock %}
{% block page_desc %}{{ ftl('about-mozilla-makes-browsers-apps-desc') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('test-frameworks') }}
{% endblock %}

{% block content %}
  <main class="mzp-l-content">
    <h1>Front-end framework Discussion</h1>
    <section class="mzp-c-emphasis-box">
      <p>How much state management do we need in Bedrock? How persistent does it need to be?</p>
      <p>What are we getting here that we don't get from macros and includes?</p>
      <p>If we want to use a framework, what are the best options for passing translations from Fluent?</p>
     </section>
   <h2>What are we talking about?</h2>
   <p><strong>Web Components</strong> use three main technologies to create custom, reusable, framework-agnostic HTML elements: <a href="https://html.spec.whatwg.org/multipage/custom-elements.html#custom-elements-api">custom elements API</a>, <a href="https://dom.spec.whatwg.org/#interface-shadowroot">shadow DOM</a>, and HTML <a href="https://html.spec.whatwg.org/multipage/scripting.html#the-template-element">templates</a> / <a href="https://html.spec.whatwg.org/multipage/scripting.html#the-slot-element">slots</a>.</p>
   <p><strong>Web Component frameworks</strong> abstract away the boilerplate of Web Component development and include helpers for things like reactivity. Ex: <a href="https://lit.dev/docs/#what-is-it-like-to-develop-with-lit">Lit</a></p>
   <p><strong>Javascript frameworks</strong> encourage app-based web development with dynamic, composable, interactive components. They can be used with or without Web Components. Ex: <a href="https://svelte.dev/tutorial/adding-data">Svelte</a></p>
  </main>
{% endblock %}
