// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

// use restricts scope to this file and creates default namespaced vars and mixins
// note: it is not possible to configure this use statement
// SassError: This module was already loaded, so it can't be configured using "with".
@use 'includes-test/wnp';
@use '~@mozilla-protocol/core/protocol/css/components/logos/logo-product-pocket';
@use '~@mozilla-protocol/core/protocol/css/components/notification-bar';
@use '~@mozilla-protocol/core/protocol/css/components/picto';
@use '~@mozilla-protocol/core/protocol/css/templates/multi-column';

// * -------------------------------------------------------------------------- */
// Main content

.wnp-content-main {
    padding: 0;
    text-align: center;
}

.wnp-main-title {
    @include wnp.text-title-md;
    color: wnp.get-theme('title-text-color');
}

.wnp-main-tagline {
    @include wnp.text-body-lg;
}

.wnp-main-cta {
    // SassError: Undefined variable
    // variables and mixins and functions ("members" of the used file) are automatically namespaced by the name of the file
    // "includes-test/wnp" = namespace "wnp"
    // this can be aliased to anything with the "as" keyword
    // "includes-test/wnp as pizza" = namespace "pizza"
    // "includes-test/wnp as *" = wildcard namespace, direct local access
    margin-top: wnp.$layout-md;
}

.mzp-c-logo {
    margin: 0 auto wnp.$spacing-xl;
}

// * -------------------------------------------------------------------------- */
// Extra content

.mzp-c-picto {
    text-align: center;
    max-width: wnp.$content-sm;

    @media #{wnp.$mq-lg} {
        @include wnp.bidi(((text-align, left, right),));
    }
}

.mzp-c-picto-image svg {
    height: auto;
    max-width: 100%;
}

// * -------------------------------------------------------------------------- */
// Utilities (link to release notes)

.c-utilities {
    @include wnp.text-body-sm;
    max-width: wnp.$content-md;
    padding-bottom: wnp.$layout-xl;
    text-align: center;
}
